tls://.:853 {
	tls {$SSL_CERT_PATH} {$SSL_KEY_PATH}
	forward . 127.0.0.1:53
}

https://.:3443 {
	tls {$SSL_CERT_PATH} {$SSL_KEY_PATH}
	forward . 127.0.0.1:53
}

.:53 {

    hosts /etc/hosts_dir/hosts-ir {
        reload 500ms
        fallthrough
    }

    iran_resolver {
        dns-to-check 8.8.8.8:53 78.157.42.101:53 10.202.10.202:53

        sanction-search .403. electro
        ban-search 10.10.34.35

        sanction-hosts-file /etc/hosts_dir/hosts-sanction
        ban-hosts-file /etc/hosts_dir/hosts-ban

        result-hosts-file /etc/hosts_dir/hosts-ir

        sanction-dest-server-ips {$EU_SERVER_IP}
        ban-dest-server-ips {$IR_SERVER_IP}

        sanction-buffer-size 3
        ban-buffer-size 3
    }

    forward . 8.8.8.8 {
        expire 0
    }

    log
    errors
}

